html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

aside nav a, aside .brand h3 {
    color: #f4f4f4;
    text-decoration: none;
    display: block;
    padding: 15px 10px 15px 20px;
}
.sidebar {
  width: 220px;
  transition: all 0.3s ease;
  background-color: #333;
    height: 100vh;
    position: fixed;
    color: #f4f4f4;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
}
.content {
  transition: margin-left 0.3s ease;
  padding: 20px;
}
.main {
  transition: margin-left 0.3s ease;
  margin-left: 220px;
}

.main.full {
  margin-left: 0;
}

.main h1, .main p {
    padding-left: 20px;
}
.topbar {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .title_home span {
    font-weight: bold;
    color: #333;
    padding: 10px;
}


.cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.cards .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 180px;
    text-align: center;
}

section.quickaccess {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 320px;
    text-align: center;
}

.tabelhadir, .tablecrew{
    background-color: #333;
    color: #f4f4f4;
    border-collapse: collapse;
    width: 100%;
    
}
.tabelhadir th, .tabelhadir td, .tablecrew th, .tablecrew td{
    padding: 12px;
    border: 1px solid #000000;
    text-align: left;
}
.tabelhadir th, .tablecrew th {
    background-color: #555;
}

#logoutPopup{
    color: white;
    position: fixed;
    top: 1.5%;
    left: 87%;
    background-color: #555;
    padding: 5px 5px 5px 5px;
    border: solid 2px #000000;
}

#logoutPopup button{
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}